body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 6px 8px;
  border-bottom: 1px solid #ddd;
}

.error-msg {
  color: red;
}
