<title>{{title}}</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="container">
  {{#if showNav}}
  <nav>
    <a href="/admin/books">books</a>
    <a href="/admin/books/add">add</a>
    <a href="/admin/logout">logout</a>
  </nav>
  {{/if}}
  {{{body}}}
</div>
